<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="image_src" href="https://www.codefor.nl/img/larger_CfNL.png" />
    <link rel="shortcut icon" sizes="128x128" href="https://www.codefor.nl/img/CfNL.png" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://www.codefor.nl/css/style.css" type="text/css" media="all">
</head>

<body>
    <nav class="nav__site">
        <div class="nav__logo">
            <a href="../"><img src="https://codefor.nl/img/Logo-orange-01.png"></a>
            <div class="nav__hamburger">
                <span class="hamburger"></span>
            </div>
        </div>
        <ul class="nav__menu">
            <li><a href="https://codefor.nl/">home</a></li>
        </ul>
    </nav>

    <header>
        <div class="action-box action-appathon-statement-announcement">
            <div class="action-box__action"><span>Samenwerken aan een open, eerlijke en inclusieve digitale overheid.</span></div>
        </div>
    </header>
    {{ content }}
</body>

</html>